/* CSS */

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
    margin: 8px;
    background: #271c33;
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Fira Code', monospace;
    font-feature-settings: "calt" 1;
    color: #ffde59;  
}

/* Boxes */

.decor-block{
    display: flex; 
    justify-content:space-between;  
}

.line-top{
    margin-top: 4px;
    border-top: 2px solid #4a4a4a;
    height: 5px;
    width: 90%;
    line-height: 80%;
}

.line-bottom{
    margin-top: 36px;
    border-bottom: 2px solid #4a4a4a;
    height: 5px;
    width: 90%;
    line-height: 80%;
}

.header-container{
    padding: 5px 65px;
}

nav div{
    display: inline-block;
    padding: 3px 18px;
    border: 2px solid #4a4a4a;
    background: #211e46;
}

nav div a, .footer-container div a{
    color: #ffde59;
    font-size: 13px;
    text-decoration: none;
}

.menu-branch{
    color:#4a4a4a;
}

.heading-main{
    padding: 5px 65px;  
}

#codelab{
    padding:10px 0px;
    font-family: 'Press Start 2P';
    font-size: 22px;
}

.content-container{
    padding: 5px 80px;
    position: relative;
}

.footer-container{
    padding: 5px 65px;
    display: inline-block;
}

.footer-container div{
    float:left;
    overflow: hidden; 
    padding: 40px; 
}

.footer-about{
    padding-right: 10px;
    width:34%;
    text-wrap: wrap;
}

.copyright, .copyright a{
    color:#4a4a4a;
    text-decoration: none;
}

.cody-container{
    display: inline-block;
}

.small-note{
    color:#4a4a4a;
    font-size: 12px;
}


/* Miscellaneous */

a {
    color: #fff;
}

a:hover{
    background:#211e46;
}

ul li, .unordered {
  list-style:url(media/stars_list.png)
}

ol li{
    list-style: decimal;
}

p{
    text-align: justify;
    word-wrap: break-word;
}

.footer.contact img{
    padding-right: 5px;
}

#cody{
    float:left;
    padding-right: 10px;
}
